label {font-weight: bold}
h5 
    {font-family: sans-serif;
    font-weight: bold;
    font-size: 45pt;
    color: darkslateblue;}

p1 {font-family: sans-serif;
    font-size: 20pt;
    color: cornflowerblue;}

.card-header 
{font-family: sans-serif;
font-weight: bolder;}


